  #map {
height:525px;background: white; color: white;width:75%;float:left; font-size: 20px;
      }

 

#caixadoatlas{width:90%;position:absolute;left:5%;top:12%;background:black;float:left;margin:0%;border:0%;padding:0.5%;}