body{width:100%;background:#1659bf}





/*CARACTERISTICA GLOBAL DO MENU SUPERIOR DO SITE*/
.menuglobal{height:40px;width:90%;position:absolute;left:5%;top:2%;background:black;padding:0.5%}
/*MENU SUPERIOR DO SITE*/
.menusite,.menusite *{margin:0;padding:0;list-style:none;list-style-type:none;line-height:1.0}
.menusite ul{position:absolute;top:-999em;width:100%,background:black}
.menusite ul li{width:100%}
.menusite li{float:left;position:relative}
.menusite a{display:block;position:relative}
.menusite li:hover ul,
.menus li.sfHover ul{left:0;top:100%;z-index:99}
.menusite li a{color:white;text-shadow:0px 1px 0px #000;padding:14px 15px 11px 15px;text-decoration:none;text-transform:uppercase;font:bold 12px Arial,Helvetica,Sans-serif}
.menusite li li a{color:white;background:black;text-shadow:0px 1px 0px #000;padding:14px 15px 11px 15px;text-decoration:none;text-transform:uppercase;font:bold 12px Arial,Helvetica,Sans-serif}